:root {
    font-size: 5px;
}

/*Hero Section design*/
.main_txt{
    padding: 20px 10px 60px 10px;
}
.topic{
    font-family: main_font;
    font-size: 50px;
    margin-bottom: 5px;
}
.topic span{
    color: white;
}
.main_txt p{
    font-size: 20px;
}
.main_txt button{
    padding: 8px 20px;
    margin-top: 20px;
    font-size: 20px;
}

/*Section1 design*/
.section1 .cont h2{
    font-size: 40px;
    margin: 20px 0;
}
.section1 .cont p{
    font-size: 15px;
    margin: 1rem 0;
}
